<link
  href="https://fonts.googleapis.com/css?family=Dosis|Homemade+Apple&display=swap"
  rel="stylesheet"
/>
<div class="overlay"></div>
<form (submit)="submitPost()">
  <label for="title">Title</label>
  <input type="text" autocomplete="off" placeholder="what type of thought is it?" name="title" [(ngModel)]="tempTitle" id="title" />
  <label for="thought">Thought</label>
  <textarea
    name="thought"
    id="thought"
    autocomplete="off"
    placeholder="what's been on your mind?"
    [(ngModel)]="tempThought"
    cols="30"
    rows="10"
  ></textarea>
  <!-- <input type="textarea" name="thought" id="thought" /> -->
  <input type="submit" class="submit" value="Add Post" />
</form>
